// app global css in SCSS form
.drawer--left {
  background-color: #212121; /* Set a fixed background color for the left drawer */
  color: white; /* Set a fixed text color for the left drawer */
}

.body--light {
  background-color: #cfd8dc; /* Replace with your desired background color */
}

.footer--light {
  background-color: #cfd8dc; // Set your desired light mode footer background color
}

.footer--dark {
  background-color: #343541; // Set your desired dark mode footer background color
}
